body {
  font-family: "Playfair Display", sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}

.container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;

  padding-left: 0;
}
.container a{
  text-decoration: none;
}

.header-link {
  cursor: pointer;
  transition: opacity 300ms ease-out;
  text-decoration: none;
  font-size: 14px;
  margin: 0 10px;
}

.header-link:hover {
  opacity: 40%;
}

header {
  padding-bottom: 30px;
  border-bottom: 0.5px #bbb solid;
  margin-bottom: 70px;
}

.first-screen {
  display: flex;
  justify-content: space-between;

  height: 400px;
  gap: 20px;

  padding-bottom: 250px;
}

.first-screen h1 {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}

.first-screen p {
  font-size: 33px;
  line-height: 35px;
  margin-top: 20px;
}

.my-photo {
  width: 50%;
}

.image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.first-screen-text {
  display: flex;
  flex-direction: column;

  width: 50%;
}
.first-screen-text span{
  font-size: 30px;
  margin-top: 150px;
}
.first-screen-text p{
  font-size: 23px;
  margin-top: 100px;
}

.biography{
  padding-bottom: 250px;
}

.first-screen-text>div {
  flex-grow: 1;
  padding: 30px 0;
}
 
.biography h2, .baking h3 {
  font-size: 40px;
  line-height: 40px;
  text-align: center;

  margin-bottom: 70px;
}

.left-side {
  display: flex;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.text, .image {
  width: 50%;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 30px;
}
 
.card {
  width: 300px ;
  height: 300px;
 margin-bottom: 30px;
  position: relative;
  display: block;
}
 
.card img {
  border-radius: 30px;
  display: block;
  height: 100%;
  width: 300px;
  object-fit: cover;
  box-shadow: 5px 5px 5px #bbb, -2px 5px 10px #bbb;
}
 
.label {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100px;
  z-index: 1;
  color: white;
  font-size: 40px;
  line-height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius:  0 0 30px 30px;
}
.card:hover .label{
  display: flex;
}
.baking{
  padding-bottom: 250px;
  padding-top: 30px;
}
.baking h2{
  font-size: 60px;
  line-height: 40px;
  text-align: center;

  margin-bottom: 70px;
}
